body {
  font-family: 'Roboto', sans-serif;
  font-family: 16px;
  margin: 0;
  background: $purple-dark;
}

body * {
  box-sizing: border-box;
  
}

p {
  margin-top: 0;
}

#root {
  display: flex;
  height: 100vh;
  color: white;

  .col {
    padding: 40px;
    width: 50%;

  }
}

#mocha a {
  color: blue !important;
}