body {
  font-family: 'Roboto', sans-serif;
  font-family: 16px;
  margin: 0;
  background: $purple-dark;
}

body * {
  box-sizing: border-box;
  
}

p {
  margin-top: 0;
}

#root {
  display: flex;
  height: 100vh;
  color: white;

  .col {
    padding: 40px;
    width: 50%;

  }
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #403e65;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

// Hover
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}