// HEADLINES
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

// BODY
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Red Hat Display', sans-serif;
  margin-top: 0;
  letter-spacing: 1px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 20px;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid $blue-light;
  transition: .2s ease-in-out all;

  &:hover {
    background: $blue-light;
    color: white;
  }
}

.btn, button {
  font-size: 16px;
  border-radius: 2px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding: 13px 20px;
  transition: .2s ease-in-out all;

  &.primary-btn {
    color: black;
    background: $yellow;

    &:hover {
      background: $purple-medium;
      color: white;
    }
  }

  &.secondary-btn {
    color: white;
    background: $blue-light;

    &:hover {
      background: $purple-medium;
    }
  }

  &.disabled {
    cursor: not-allowed;
    background: #50565d;
    pointer-events: none;

      &:hover {
        background: #50565d;
      }
  }
}



