// COLORS
$purple-dark: #040323;
$purple-pale: #15142a;
$purple-light: #96a5e0;

$yellow: #ffd500;
$orange: #FA7F31;

$blue-light: #027dff;

$gray-dark: #24232a;

$pink-light: #e84ea7;
$blue-pale: #9db1f5;

$green-pale: #57F3E6;
$green-lime: #8BED06;
