// @import "./fontawesome/scss/fontawesome.scss";
// @import "./fontawesome/scss/solid.scss";
// @import "./fontawesome/scss/brands.scss";



.ChatBubble {
  // chat bubble
  .chat-bubble-wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;   

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 70px;
      height: 70px;
      background: #074cff;
      border-radius: 100%;
      // opacity: 1;
      transition: all .2s ease-in-out;

      // icon
      svg {
        color: white;
        width: auto;
        height: 36px;
      }
    }

    // Open state
    &.active {
      display: block;
      background: gray;
      background: url('../../images/me.jpg') no-repeat center center;
      background-size: cover;
      border-radius: 100%;

      button {
        background: none;

        svg {
          display: none;
        }

        // close icon
        &::before {
          content: 'X';
          opacity: 0;
          transition: all .25s ease-in-out;
          color: white;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }

        // black overlay
        &::after {
          content: '';
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(black, .5);
          z-index: 1;
        }


       &:hover {
        &::before, &::after {
          opacity: 1;
        }
       }
      }
    }

    .alerts {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 14px;
      background: red;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // messages
  .messages-wrapper {
    color: black;
    position: fixed;
    bottom: 130px;
    right: 30px;
    max-width: 400px;
    display: none;

    &.active {
      display: block;
    }

    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;

      li {
        margin: 10px 0;
        background: #074cff;
        padding: 12px 15px;
        color: white;
        border-radius: 20px;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 25px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 15px;
            border-color: #074cff transparent transparent transparent;
          }
        }

        a {
          border-color: white;
          transition: all 0.2s ease-in-out;

          &:hover {
            border: none;
            background: none;
          }
        }
      }
    }
  }
}
