.ChatBubble {

  // chat bubble
  .chat-bubble-wrapper {
    // background: red;
    position: fixed;
    bottom: 30px;
    right: 30px;

    &.active {
      display: block;
      
      .bubble {
        background: red;
      }
    }

    .bubble {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background: blue;
    }

    .alerts {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 14px;
      background: red;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // messages
  .messages-wrapper {
    background: white;
    color: black;
    padding: 30px;
    position: fixed;
    bottom: 130px;
    right: 30px;
    max-width: 400px;
    border-radius: 10px;
    display: none;

    &.active {
      display: block;
    }

    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;

      li {
        margin: 10px 0;
        background: blue;
        padding: 10px;
        color: white;
        border-radius: 10px;

      }
    }
  }
}
