.CodeEditor {

  // Tab list
  ul.react-tabs__tab-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    
    li {
      padding: 15px 30px;
      display: inline-block;
      cursor: pointer;

      // Active tab
      &.react-tabs__tab--selected {
        background: $purple-pale;
      }

      // Pass/fail icons
      svg {
        margin-right: 5px;

        &.fa-check-circle {
          path {
            fill: $green-lime;
          }
        }

        &.fa-times-circle {
          path {
            fill: $red;
          }
        }
      }
    }
  }

  // tab content
  .react-tabs__tab-panel {
    display: none;

    // only show active tab content
    &.react-tabs__tab-panel--selected {
      display: block;
    }
  }
  
  // React component wrapper
  .CodeMirror {
    font-size: 16px;
    // height: 200px;
    background: $purple-pale;

    .CodeMirror-gutters {
      background: $purple-pale;
    }
  }
}