// UI elements behind user grid canvas
.GameGrid {
  .grid {
    display: grid;

    .block {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease-out all;
      border: 1px solid #1a1856;
      font-size: 0;
      border-radius: 20%;
      position: relative;
      /* transition: 0.2s ease-out all; */

      // middle dots
      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background: #474748;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      // remove middle dots when block is turned on
      &.on {
        &::after {
          content: none;
        }
      }

      // Laying down our block colors...  
      &.pink {
        border-color: $pink-light;
  
        &.on {
          background-color: $pink-light;
        }
      }
  
      &.blue {
        border-color: $blue-pale;
  
        &.on {
          background-color: $blue-pale;
        }
      }

      &.green {
        border-color: $green-pale;
  
        &.on {
          background-color: $green-pale;
        }
      }

      &.green-lime {
        border-color: $green-lime;
  
        &.on {
          background-color: $green-lime;
        }
      }

      &.orange {
        border-color: $orange;
  
        &.on {
          background-color: $orange;
        }
      }

      &.yellow {
        border-color: $yellow;
  
        &.on {
          background-color: $yellow;
        }
      }

      &.purple-light {
        border-color: $purple-light;
  
        &.on {
          background-color: $purple-light;
        }
      }
    
    }

  }

}

