// UI elements behind user grid canvas
.GameGrid {
  .grid {
    display: grid;

    .block {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease-out all;
      border: 1px solid #1a1856;
      font-size: 0;
      border-radius: 20%;
      position: relative;
      /* transition: 0.2s ease-out all; */

      // middle dots
      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background: #474748;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      // remove middle dots when block is turned on
      &.on {
        &::after {
          content: none;
        }
      }
  
      &.pink {
        border-color: #e84ea7;
        color: #e84ea7;
        background-color: transparent;
        transition: .2s ease-in-out background;
  
        &.on {
          background-color: #e84ea7;
  
        }
      }
  
      &.blue {
        border-color: #9db1f5;
        color: #9db1f5;
        background-color: transparent;
  
        &.on {
          background-color: #9db1f5;
        }
      }
    
    }

  }

}
