.grids-outter-wrapper {
  position: relative;
  width: 800px;
  height: auto;
}

// UI elements behind user grid canvas
.GameGrid {
  .grid {
    display: grid;

    // square blocks
    > div {
      position: relative;

      // middle dots
      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background: #474748;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      // background-color: #3b3939;
    }

    .row {
      display: flex;

      .block {
        background: #444444;
        width: 125px;
        height: 125px;
        margin: 10px;
        transition: 0.2s ease-out all;
        border: 2px solid #444444;
        // display: inline-block;

        &.pink {
          border: 2px dashed #de7186;
        }

        &.completed {
          background: #de7186;
        }
      }
    }
  }

  // iFrame contents based on user's input or lesson
  #iFrameWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
