.Header {
  padding: 30px 40px;

  .brand {
    display: flex;

    a#logo {
      display: inline-block;
      border: none;
      margin-right: 20px;
      padding-right: 20px;
      border-right: 1px solid rgba($blue-pale, .25);
  
      img {
        width: auto;
        height: 30px;
        max-width: 300px;
      }
  
      &:hover {
        background: none;
      }
    }
  }

  
}