// Pagination inside TextPanel component
ul.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 50px;

  li {
    a {
      cursor: pointer;
    }
  }
}