// Pagination inside TextPanel component
ul.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 50px;

  li {
    a {
      cursor: pointer;
    }

    // Active state
    &.active {
      a {
        background: $blue-light;
        padding: 10px;
        border-radius: 2px;
      }
    }

    // Disabled state
    &.disabled {
      a {
        cursor: not-allowed;
      }
    }
  }
}