// Pagination inside TextPanel component
.ReactPaginate {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 50px;

  li {
    // margin: 0 10px;

    a {
      cursor: pointer;
      padding: 10px;
      border: none;

      &:hover {
        border: none;
        background: none;
      }
    }

    // Active state
    &.active {
      a {
        // padding: 10px;
        border-radius: 0px;
        border-bottom: 2px solid $blue-light;
      }
    }

    // Previous
    &.previous {
      a {
        @extend .btn;
        @extend .secondary-btn;
      }
    }

    // Previous
    &.next {
      a {
        @extend .btn;
        @extend .secondary-btn;
      }
    }

    // Disabled state
    &.disabled {
      a {
        cursor: not-allowed;
        background: #50565d;

        &:hover {
          background: #50565d;
        }
      }
    }
  }
}