@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  display: grid;
  grid-template-columns: repeat(5, 125px);
  grid-template-rows: repeat(5, 125px);
  gap: 15px;
  padding: 15px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body * {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body .block {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
  background: #444444;
  transition: 0.2s ease-out all;
  color: white;
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
	/* transition: 0.2s ease-out all; */
	
}

button.block {
  border-color: #e84ea7;
  color: #e84ea7;
  background-color: #4f2137;
}

div.block {
  border-color: #9db1f5;
  color: #9db1f5;
  background-color: #342a67;
}

p.block {
	border-color: #57F3E6;
	color: #57F3E6;
	background: #30415D;
	display: flex;
}

img.block {
	border-color: #8BED06;
	color: #8BED06;
	background: #324629;
}

a.block {
	border-color: #FA7F31;
	color: #FA7F31;
	background: #673824
}

ul {
	outline: 1px dashed #4e5fa4;
	outline-offset: 5px;
	/* padding: 5px; */
}

li.block {
	border-color: #74C8E8;
	color: #74C8E8;
	background: #212C5A;
}