body {
  display: grid;
  grid-template-columns: repeat(5, 125px);
  grid-template-rows: repeat(5, 125px);
  gap: 15px;
  padding: 15px;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

body > .block {
  background: #444444;
  /* width: 125px; */
  /* height: 125px; */
  /* margin: 10px; */
  transition: 0.2s ease-out all;
  color: white;
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
  transition: 0.2s ease-out all;
}

button.block {
  border-color: #e84ea7;
  color: #e84ea7;
  background-color: #4f2137;
}

div.block {
  border-color: #9db1f5;
  color: #9db1f5;
  background-color: #342a67;
  display: flex;
  justify-content: center;
  align-items: center;
}
