#GameGrid {
  .row {
    display: flex;

    .block {
      background: #444444;
      width: 125px;
      height: 125px;
      margin: 10px;
      transition: 0.2s ease-out all;
      border: 2px solid #444444;

      &.pink {
        border: 2px dashed #de7186;
      }

      &.completed {
        background: #de7186;
      }
    }
  }

  // iframe?

  iframe {
    .block {
      background: red !important;
    }
  }
}
