// IMPORT ALL COMPONENTS
@import './components/GameGrid.scss';

.App {
  display: flex;
  height: 100%;
  background: black;
  color: white;

  .col {
    padding: 40px;
    width: 50%;

    &.left-col {
      background: #181616;
      // height: 100vh;
    }

    &.right-col {
      background: #232323;
      // height: 100vh;

       iframe { 
        //  width: 100%;
        //  height: 100vh;
        width: 100%;
        height: 660px;
        
        }
    }
  }


}