// IMPORT ALL COMPONENTS
@import './components/GameGrid.scss';

body * {
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
  background: black;
  color: white;

  .col {
    padding: 40px;
    width: 50%;

    &.left-col {
      background: #181616;
      // height: 100vh;

      .code-editor {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &.right-col {
      background: #232323;
      // height: 100vh;
    }
  }
}